<!DOCTYPE html>
<html ng-app="todoApp">
<head>
	<title>TO DO list</title>
	<script src="angular.js"> </script>
	<link href="bootstrap.css" rel="stylesheet" />
	<link href="bootstrap-theme.css" rel="stylesheet" />

	<script type="text/javascript">
		var model = {
			goodsize: "80px",
			user: "Adam",
			items: 
			[
				[1,2,3,4],
				[5,6,0,8],
				[9,10,11,12],
				[13,14,15,16]
			],
			temps:[
				1,2,3,4
			],
			ships:[
				[1,null,3,4],
				[5,6,0,8],
				[9,null,11,12],
				[13,14,null,16]
			]

			
		};



		var todoApp = angular.module("todoApp", []);

		todoApp.filter("checkedItems", function(){
			return function (items, showComplete){
				var resultArr = [];
				angular.forEach(items, function (item){
					if (item.done == false || showComplete == true) {
						resultArr.push(item);
					}
				});
				return resultArr;
			}
		});

		todoApp.controller("ToDoCtrl", function($scope){
			$scope.todo = model;

			// $scope.incompleteCount = function () {
			// 	var count = 0;
			// 	angular.forEach($scope.todo.items, function (item) {
			// 		if (!item.done) {count++}
			// 	});
			// 	return count;
			// }

			// $scope.warningLevel = function () {
			// 	return $scope.incompleteCount() < 3 ? "label-success" : "label-warning";
			// }

			$scope.nextStep = function () {
				// $scope.todo.items.push({ action: actionText, done: false });

				// console.log("click next");
				// console.log(model.items[3][3]);

				// console.log(Math.random());
				// console.log(model.items.length);
				// model.items[2][1] = null;

				var row = Math.floor(Math.random() * model.items.length);
				var col = Math.floor(Math.random() * model.items.length);

				if (model.items[row][col] == 0) {
					model.items[row][col] = Math.floor(Math.random() * 16);
				} else {
					model.items[row][col] = 0;
				};

				if (model.ships[row][col] != null) {
					model.ships[row][col] = 0;
				};

				model.temps[col] = row;

				// model.items[row][col] = null;
				// console.log(Math.floor(Math.random() * model.items.length));



				// GIAI THUAT CAN DUOC HIEN THUC TRONG HAM NAY
				// Quy uoc: null -> kien hang nuoc ngoai
				//			0	-> o trong

			}


			$scope.warningLevel = function (ite) {
				return ite == null? "btn-danger" : "btn-default";
			}

		});
	</script>

</head>

<body ng-controller="ToDoCtrl">
	 <div class="page-header">
		<h1>
			Add the title here!!!
		</h1>
	</div>
	<div class="panel">


		<div class="row">
			<div class="col-xs-4">
				<div ng-repeat="item in todo.items">
					<span ng-repeat="ite in item"> 
						<button type="button" class="btn btn-default" style="width: {{todo.goodsize}}; height:{{todo.goodsize}}; font-size:30px" ng-style="{'opacity' : ite == 0 ? 0 : 1}" >{{ite}}</button>
					</span>
				</div>
			</div>

			<div class="col-xs-4">
				<!-- <div ng-repeat="item in todo.temps"> -->
					<!-- <span ng-repeat="ite in item">  -->
					<span ng-repeat="ite in todo.temps"> 
						<button type="button" class="btn btn-default" style="width: {{todo.goodsize}}; height:{{todo.goodsize}}; font-size:30px"  ng-style="{'opacity' : ite == 0 ? 0 : 1}">{{ite}}</button>
					</span>
				<!-- </div> -->
			</div>


			
			<div class="col-xs-4">
				<div ng-repeat="item in todo.ships">
					<span ng-repeat="ite in item"> 
						<button type="button" class="btn" style="width: {{todo.goodsize}}; height:{{todo.goodsize}}; font-size:30px" ng-style="{'opacity' : ite == 0 ? 0 : 1}"  ng-class="warningLevel(ite)">{{ite}}</button>
					</span>
				</div>
			</div>

		</div>
		
	</div>
		
	<br>
	<div style="text-align: center;">

		<button class="btn btn-large btn-primary" type="button" ng-click="nextStep()">Next Step</button>
	
	</div>
</body>
</html>